.container{
    padding-left: 120px;
}
.Input{
margin-left:100px;
}
.Button{
    margin-left:100px;
 
}
.Input1{
    margin-left:100px;
}
.main{
    margin-left:230px;
    font-size: 150%;
    color:rgb(56, 87, 170);
   
}
.errorMsg {
    color: #cc0000;
    margin-left:250px;
  }
  .select{
      margin-left:110px;
}
 